{
	"source": {
		"path": "G:",
		"type": "dcf",
		"groups": true
	},
	"targets": {
		"main": {
			"root": "C:/Users/Andreas Ecke/Pictures/Test",
			"protect": false,
			"verify": true,
			"path": "{Year}/{Month} - {MonthName}/{Day} - {EventName}",
			"file": "{Year}{Month}{Day}-{Hour}{Minute}{Second}-{DcfPathNumber}{DcfFileNumber}",
			"suffix": {
				"seperator": "-",
				"digits": 4,
				"alwaysAppend": false
			},
			"extensions": [ "cr2", "jpg" ]
		}
	}
	/* "options": {
		"readexiffrom": ["cr2", "jpg"],
		"donotsort": false,
		"locale": "de" 
	} */
}
