{
	"source": {
		"path": "C:/Users/Andreas Ecke/Desktop/test",
		"searchMode": "dcf",
		"groups": true
	},
	"targets": {
		"main": {
			"root": "C:/Users/Andreas Ecke/Desktop/test2",
			"protect": false,
			"verify": true,
			"path": "{Year}/{Month}_{MonthName}/{Day}-{EventName}",
			"file": "IMG_{DcfNumber}",
			"extensions": [ "cr2", "jpg" ],
			"subfolders": {
				"jpg": "jpgs"
			}
		}
	},
	"options": {
		"readexiffrom": ["cr2", "jpg"],
		"locale": "de_DE",
		"suffix": {
			"seperator": "-",
			"digits": 1,
			"alwaysAppend": false
		}
	}
}
